/***************************************
 *                                     *
 *   Created by Elias De Hondt         *
 *   Visit https://eliasdh.com         *
 *                                     *
 ***************************************/
/* CSS Code */

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Table */
.item-table table {
  width: 100%;
  border-collapse: collapse;
}

.item-table th,
.item-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.item-table td:nth-child(7) {
  text-transform: capitalize;
  font-weight: bold;
  color: #007bff;
}

.item-table a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}
/* Table */