<!-- Van Elias De Hondt -->
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br/>
<p>
    Your privacy matters. I, Elias De Hondt, am committed to safeguarding any personal information shared on this platform. 
    Any data collected, including but not limited to your name, email, or voluntarily provided details, 
    is used solely for communication and service provision purposes. Your information remains confidential and is not 
    shared with third parties without your explicit consent. Your trust matters, and your privacy is respected and protected here.
</p>
<p>
    Please note: The content within this privacy policy is for demonstration purposes only
    and should not be considered as actual privacy policy information for a live website.
</p>