@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!-- Van Elias De Hondt -->
<ul class="navbar-nav">
    @if (!SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" href="/Identity/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Identity/Account/Login">Login</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            @{
                var firstName = UserManager.GetUserName(User)?.Split('@')[0].Split('.')[0];
                System.Diagnostics.Debug.Assert(firstName != null, nameof(firstName) + " != null");
                var capitalizedFirstName = char.ToUpper(firstName[0]) + firstName.Substring(1);
            }
             <i class="nav-link username-icon">Hi, @capitalizedFirstName!</i>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Identity/Account/Logout">Logout</a>
        </li>
    }
</ul>